fastapi==0.95.2
uvicorn==0.23.2
spacy==3.7.2
transformers==4.36.2
PyMuPDF==1.23.6
requests==2.31.0
python-dotenv==1.0.0
google-generativeai==0.5.2
scikit-learn
en-resume-ner @ https://huggingface.co/JeswinMS4/en_resume_ner/resolve/main/en_resume_ner-any-py3-none-any.whl
